<template>
  <div class="home">
<v-form ref="form" v-model="validForm">

    <v-container>      

      <v-card
        class="mx-auto mt-5 pl-2 pr-2"
        tile>

        <v-list-item class="seccion"  v-for="(item, i) in preguntasRespuestas" :key="i" :id="item.id">
          <v-list-item-content class="pl-4 pr-4">  

            <div v-if="item.tipoPregunta == 'select'" class="mb-8">
              <v-radio-group v-model="item.respuesta" :rules="selectRules" required @change="next(i+1)">
                <span class="my-4">{{item.pregunta}}</span>
                <v-radio
                  class="radio  mb-n2 pt-3 pb-3 pl-5 font-weight-thin"
                  v-for="(opcion, i) in item.options"
                  :key="i"
                  :label="opcion"
                  :value="opcion"
                  color="deep-orange lighten-1"          
                ></v-radio>
              </v-radio-group>
            </div>

            <div v-if="item.tipoPregunta == 'checkbox'" class="mb-12 mt-8" @click="show = 1">
                <span class="my-4">{{item.pregunta}}</span> 
                  <div v-for="(opcion, i) in item.options" :key="i">
                                    
                    <v-checkbox 
                      class="checkbox mt-3 mb-n3  pl-5 font-weight-thin"
                      v-if="opcion != 'Otras'"
                      :value="opcion"                     
                      :label="opcion"
                      color="deep-orange lighten-1"                         
                      v-model="item.respuestas"
                      :rules="checkboxRules" 
                      required
                    >
                    </v-checkbox> 
                    
                    <v-row v-if="opcion == 'Otras'">
                      <v-checkbox 
                      class="mt-3 mb-n3  pl-8 font-weight-thin"                     
                      :value="opcion"                     
                      :label ="campo ? ' ' :opcion"
                      color="deep-orange lighten-1"                         
                      v-model="item.respuestas"
                      :rules="checkboxRules" 
                      required
                      @change="campo=!campo"
                      >
                      </v-checkbox> 
                      <v-text-field
                      :label="opcion"
                      v-if="campo"
                      v-model="item.respuesta"
                      ></v-text-field>

                    </v-row>
                      
                  </div> 

                <br><br>
                
                <v-btn x-small color="primary" class="boton mb-5" v-if="show" @click="next(i+1)">Próxima pregunta</v-btn>
            </div>  

            <div v-if="item.tipoPregunta == 'rating'" class="mb-8 mt-8 pt-10" @click="show = 1">
              <span class="my-4">{{item.pregunta}}</span>
                <div class="text-center mt-3">
                  <v-rating
                    v-model="item.respuesta"
                    :rules="raitingRules" 
                    required
                    color="deep-orange lighten-1"
                    background-color="deep-orange lighten-1"
                    hover
                  ></v-rating>
                </div>  
                <v-btn x-small color="primary" class="boton mb-5" v-if="show" @click="next(i+1)">Próxima pregunta</v-btn>

            </div>

            <div v-if="item.tipoPregunta == 'textarea'" class="mb-8 mt-8" @click="next(i+1)">
              <span class="my-4">{{item.pregunta}}</span>
              <v-textarea
                background-color="grey lighten-5"
                color="deep-orange lighten-1"
                :counter="100"
                v-model="item.respuesta"
                :rules="inputRules"
                required
              ></v-textarea>
            </div>
            <v-divider></v-divider>
          </v-list-item-content>

        </v-list-item>
        <v-row justify="center" align="center" class="mt-2 mb-3">

          <v-btn x-large color="#FF7043" class="mb-5" @click="validarFormulario">Enviar</v-btn>
        </v-row>
      </v-card>

    </v-container>
    </v-form> 
  </div>
</template>

<script>

import {preguntas} from '@/assets/preguntas.js'
import {scroller} from 'vue-scrollto/src/scrollTo'

export default {
  name: 'home',
  data () {
    return {
      validForm: false,
      preguntasRespuestas:[],       
      respuestas:[],
      show: false,
      campo:false,
      posiciones:["UNO", "DOS", "TRES", "CUATRO", "CINCO", "SEIS", "SIETE", "OCHO", "NUEVE", "DIEZ"],
      valor:0,
      selectRules: [ v => !!v || 'Este campo es requerido'],
      checkboxRules: [ v => v ? (v.length > 0 || 'Este campo es requerido') : false],
      raitingRules: [ v => v ? (v.length > 0 || 'Este campo es requerido') : false],
      inputRules: [ v => !!v || 'Este campo es requerido',
      v => v ? (v.length >= 10 || '10 caracteres minimos') : false, 
      v => v ? (v.length <= 100 || '100 caracteres maximos') : false  ]
    }
  },

  mounted () {
    this.preguntasRespuestas = preguntas
  },

  methods: {
    validarFormulario(){
      if (this.$refs.form.validate()) {
          this.snackbar = true
          console.log('preguntas y respuestas', this.preguntasRespuestas);
      }
    },
    next(id){
      const scrollito = scroller()
      id+1;
      this.valor = this.posiciones[id];
      scrollito('#'+this.valor);
      id = (id * (100/preguntas.length))
      this.$emit('porcentaje',id)
    }
    
  }

}
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
* {
    font-family: Maven pro, sans-serif;
}

    
.home {
  /* background: #f0f0f0; */
  -ms-transform: translateY(4%);
  -webkit-transform: translateY(4%);
  transform: translateY(4%);
}

.v-card {
  width: 80%;
  
}

.seccion {
  opacity: 0.2;
}

.seccion:hover {
  opacity: 1;
}

span {
  color: #30363E;
  font-size: 18px;
}
                    
.radio:hover, .checkbox:hover {
  background: #FBE9E7;
}

/* .theme--light.v-icon {
  color: #FF5722!important;
} */

/* .theme--light.v-label {
  margin-left: 20px !important;
} */
.boton {
  color: white;
}

</style>