<template>
  <v-app>

      <Header :porcentaje="porcentaje"/>
      <home @porcentaje="porcentaje = $event"/>
      
  </v-app>
</template>

<script>
import Header from './components/HelloWorld';
import home from './views/Home';
export default {
  name: 'App',

  components: {
    Header,
    home
  },

  data: () => ({
    porcentaje:0
  }),
};
</script>
